<div class="row mb-3">
  <div class="col-4">
    <label for="file" class="form-label">File:</label>
    <select
      name="file"
      id="file"
      class="form-control"
      [(ngModel)]="paginateFilter.filter.file"
    >
      <option [ngValue]="undefined">Any</option>
      <option *ngFor="let item of files" [ngValue]="item">
        {{ item }}
      </option>
    </select>
  </div>
  <div class="col-4">
    <label class="form-label" for="hasError">Has Error:</label>
    <select
      name="hasError"
      id="hasError"
      class="form-control"
      [(ngModel)]="paginateFilter.filter.hasError"
    >
      <option [ngValue]="undefined">Any</option>
      <option [ngValue]="true">Yes</option>
      <option [ngValue]="false">No</option>
    </select>
  </div>
  <div class="col-8">
    <app-date-picker-range
      [class]="'form-control'"
      minDateLabel="Min Date:"
      maxDateLabel="Max Date:"
      [(minDate)]="paginateFilter.filter.minDate"
      [(maxDate)]="paginateFilter.filter.maxDate"
    >
    </app-date-picker-range>
  </div>
</div>
<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-danger" (click)="clear()">Clear</button>
  &nbsp;
  <button class="btn btn-primary" (click)="fetchLogs()">Search</button>
</div>
<br />
<div class="row">
  <app-table-paginate
    [paginateFilter]="paginateFilter"
    [paginate]="logs"
    [tableHeaders]="getTableHeaders()"
    (refetchData)="fetchLogs()"
  >
    <tr *ngFor="let item of logs.items">
      <td>
        <button class="btn btn-sm btn-primary" (click)="onViewLog(item)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </td>
      <td>{{ item.file | truncate : 50 }}</td>
      <td>{{ item.output != null ? "Yes" : "No" }}</td>
      <td>{{ item.error != null ? "Yes" : "No" }}</td>
      <td>{{ item.startDate | date : "short" }}</td>
      <td>{{ calculateRunTime(item) }}</td>
    </tr>
  </app-table-paginate>
</div>

<app-modal [isOpen]="viewLog != null" (onClose)="onViewLogClose()">
  <header>App Log</header>
  <body>
    <div class="row" *ngIf="viewLog != null">
      <div class="col-4">
        <label class="form-label" for="file">File:</label>
        <input
          class="form-control"
          id="file"
          name="file"
          type="text"
          [value]="viewLog.file"
          disabled
        />
      </div>
      <div class="col-4">
        <label class="form-label">Start Date:</label>
        <input
          class="form-control"
          type="text"
          [value]="viewLog.startDate | date : 'short'"
          disabled
        />
      </div>
      <div class="col-4">
        <label class="form-label">End Date:</label>
        <input
          class="form-control"
          type="text"
          [value]="viewLog.endDate | date : 'short'"
          disabled
        />
      </div>
      <div class="col-4">
        <label class="form-label">Run Time:</label>
        <input
          class="form-control"
          type="text"
          [value]="calculateRunTime(viewLog)"
          disabled
        />
      </div>
      <div class="col-12">
        <label class="form-label">Output:</label>
        <textarea
          class="form-control"
          type="text"
          rows="4"
          [value]="viewLog.output"
          disabled
        ></textarea>
      </div>
      <div class="col-12">
        <label class="form-label">Error:</label>
        <textarea
          class="form-control"
          type="text"
          rows="4"
          [value]="viewLog.error"
          disabled
        ></textarea>
      </div>
    </div>
  </body>
</app-modal>
