<div class="row mb-3">
  <div class="col-4">
    <app-auto-complete
      [label]="'Symbol:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.symbol"
      [searchResults]="searchSymbols"
      (search)="onSearchSymbol($event)"
      (selected)="onSelectedSymbol($event)"
    ></app-auto-complete>
  </div>
  <div class="col-8">
    <app-date-picker-range
      [class]="'form-control'"
      minDateLabel="Min Date:"
      maxDateLabel="Max Date:"
      [(minDate)]="paginateFilter.filter.minDate"
      [(maxDate)]="paginateFilter.filter.maxDate"
    >
    </app-date-picker-range>
  </div>
</div>
<div class="row mb-3">
  <div class="col-6">
    <div class="d-flex justify-content-between">
      <label>Enqueue News Default Sentiment For Page:</label>
      <button class="btn btn-primary" (click)="enqueueNewsDefaultSentiment()">
        <span class="fa fa-barcode"></span>
      </button>
    </div>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger" (click)="clear()">Clear</button>
      &nbsp;
      <button class="btn btn-primary" (click)="fetchNewsArticles()">
        Search
      </button>
    </div>
  </div>
</div>
<div class="row">
  <app-table-paginate
    [paginateFilter]="paginateFilter"
    [paginate]="newArticles"
    [tableHeaders]="getTableHeaders()"
    (refetchData)="fetchNewsArticles()"
  >
    <tr *ngFor="let item of newArticles.items">
      <td>
        <button class="btn btn-sm btn-primary" (click)="onViewNews(item)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </td>
      <td>
        <a class="btn btn-sm btn-link" target="_blank" [href]="item.link"
          >Url</a
        >
      </td>
      <td>{{ item.title | truncate : 100 }}</td>
      <td>{{ item.date | date : "shortDate" }}</td>
      <td [ngClass]="getSentimentResultColor(getLastSentimentResult(item)!)">
        {{ sentimentToString(getLastSentimentResult(item)!) }}
      </td>
    </tr>
  </app-table-paginate>
</div>
<app-modal [isOpen]="viewNewsArticle != null" (onClose)="onViewCloseClose()">
  <header>{{ viewNewsArticle?.title }}</header>
  <body>
    <div class="row mb-3">
      <a
        class="btn btn-sm btn-link"
        target="_blank"
        [href]="viewNewsArticle?.link"
        >{{ viewNewsArticle?.link }}</a
      >
    </div>
    <div class="row mb-3">
      <span>{{ viewNewsArticle?.text }}</span>
    </div>
    <div class="row">
      <app-table [tableHeaders]="getNewsSentimentTableHeaders()">
        <tr *ngFor="let item of viewNewsArticle?.sentimentResults">
          <td>{{ item.huggingFaceModel.name }}</td>
          <td>{{ item.updatedDate | date : "shortDate" }}</td>
          <td>{{ sentimentStatusToString(item.status) }}</td>
          <td>{{ item.positive }}</td>
          <td>{{ item.neutral }}</td>
          <td>{{ item.negative }}</td>
          <td [ngClass]="getSentimentResultColor(item.sentiment)">
            {{ sentimentToString(item.sentiment) }}
          </td>
        </tr>
      </app-table>
    </div>
  </body>
</app-modal>
