<div class="row">
  <!--<div class="col-4">
    <label for="logLevel" class="form-label">Log Level:</label>
    <select
      name="logLevel"
      id="logLevel"
      class="form-control"
      [ngModel]="paginateFilter.filter.logLevel"
      (ngModelChange)="setLogLevel($event)"
    >
      <option [ngValue]="undefined">Any</option>
      <option
        *ngFor="let item of logLevelEnums | enumToArray"
        [ngValue]="item.id"
      >
        {{ getLogLevel(item.id) }}
      </option>
    </select>
  </div>-->
</div>
