<div class="row mb-3">
  <div class="col-4">
    <app-auto-complete
      [label]="'Name:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.name"
      [searchResults]="searchNames"
      (search)="onSearchName($event)"
      (selected)="onSelectedName($event)"
    ></app-auto-complete>
  </div>
  <div class="col-4">
    <app-auto-complete
      [label]="'Symbol:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.symbol"
      [searchResults]="searchSymbols"
      (search)="onSearchSymbol($event)"
      (selected)="onSelectedSymbol($event)"
    ></app-auto-complete>
  </div>
  <div class="col-4">
    <app-auto-complete
      [label]="'Quote Type:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.quoteType"
      [searchResults]="searchQuotes"
      (search)="onSearchQuoteType($event)"
      (selected)="onSelectedQuote($event)"
    ></app-auto-complete>
  </div>
  <div class="col-4">
    <app-auto-complete
      [label]="'Sector:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.sector"
      [searchResults]="searchSectors"
      (search)="onSearchSector($event)"
      (selected)="onSelectedSector($event)"
    ></app-auto-complete>
  </div>
  <div class="col-4">
    <app-auto-complete
      [label]="'Industry:'"
      [class]="'form-control'"
      [searchStr]="paginateFilter.filter.industry"
      [searchResults]="searchIndustries"
      (search)="onSearchIndustry($event)"
      (selected)="onSelectedIndustry($event)"
    ></app-auto-complete>
  </div>
  <div class="col-4">
    <label for="isListed" class="form-label">Is Listed:</label>
    <select
      name="isListed"
      id="isListed"
      class="form-control"
      [(ngModel)]="paginateFilter.filter.isListed"
    >
      <option [ngValue]="undefined">Any</option>
      <option [ngValue]="true">Yes</option>
      <option [ngValue]="false">No</option>
    </select>
  </div>
</div>
<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-danger" (click)="clear()">Clear</button>
  &nbsp;
  <button class="btn btn-primary" (click)="fetchTickers()">Search</button>
</div>
<div class="row">
  <app-table-paginate
    [paginateFilter]="paginateFilter"
    [paginate]="tickers"
    [tableHeaders]="getTableHeaders()"
    (refetchData)="fetchTickers()"
  >
    <tr *ngFor="let item of tickers.items">
      <td>
        <button class="btn btn-sm btn-primary" (click)="onViewTicker(item)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.symbol }}</td>
      <td>{{ item.quoteType }}</td>
      <td>{{ item.sector }}</td>
      <td>{{ item.industry }}</td>
      <td>{{ item.delistReasons.length == 0 ? "Yes" : "No" }}</td>
    </tr>
  </app-table-paginate>
</div>
<app-modal [isOpen]="viewTicker != null" (onClose)="onViewTickerClose()">
  <header>Ticker</header>
  <body>
    <app-ticker-details [ticker]="viewTicker"></app-ticker-details>
  </body>
</app-modal>
