<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Marketeer</a>
    <div>
      <ul class="navbar-nav">
        <a href="/management/logs" class="nav-link">Logs</a>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="clientToken === null">
            Login
          </a>
          <a
            class="nav-link"
            href="#"
            *ngIf="clientToken !== null"
            (click)="logout()"
          >
            {{ clientToken.userName!! }} Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
<nav
  id="navigationMenu"
  class="navbar navbar-expand-lg navbar-light bg-light px-3"
>
  <a class="navbar-brand" routerLink="/">&nbsp;Musketeer</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarContent"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav me-auto" *ngIf="clientToken != null">
      <li class="nav-item" ngbDropdown>
        <a
          class="nav-link"
          style="cursor: pointer"
          ngbDropdownToggle
          id="managementDropdown"
          role="button"
        >
          <span class="fas fa-cogs"></span>&nbsp;Management
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="managementDropdown"
          class="dropdown-menu dropdown-menu-right"
        >
          <a
            class="dropdown-item"
            (click)="$event.preventDefault()"
            routerLink="/management/logs"
          >
            Logs
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a
          class="nav-link"
          style="cursor: pointer"
          ngbDropdownToggle
          id="marketDropdown"
          role="button"
        >
          Market
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="marketDropdown"
          class="dropdown-menu dropdown-menu-right"
        >
          <a
            class="dropdown-item"
            (click)="$event.preventDefault()"
            routerLink="/market/tickers"
          >
            Tickers
          </a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav me-auto" *ngIf="clientToken == null"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="clientToken === null">
          Login
        </a>
        <a
          class="nav-link"
          href="#"
          *ngIf="clientToken !== null"
          (click)="logout()"
        >
          {{ clientToken.userName!! }} Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
