<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>Watch Ticker</div>
      <div class="">
        Watching {{ watchStatus.watchTicerCount }} of
        {{
          watchStatus.watchTickerCountMax == -1
            ? "Unlimited"
            : watchStatus.watchTickerCountMax
        }}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="watchTicker != null">
      <div class="col-6">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="updateHistoryData"
            [checked]="watchTicker!.updateHistoryData"
            (change)="
              watchTicker!.updateHistoryData = !watchTicker!.updateHistoryData
            "
          />
          <label class="form-check-label" for="updateHistoryData">
            History Data
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="updateNewsArticles"
            [checked]="watchTicker!.updateNewsArticles"
            (change)="
              watchTicker!.updateNewsArticles = !watchTicker!.updateNewsArticles
            "
          />
          <label class="form-check-label" for="updateNewsArticles">
            News Articles
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button class="btn btn-danger" (click)="stopWatching()">
        Stop Watching
      </button>
      <button class="btn btn-success" (click)="updateWatcher()">Save</button>
    </div>
  </div>
</div>
